<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xsi:schemaLocation="NLog NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogFile="${basedir}/Logs/init.txt"
	internalLogLevel="Error"
	>
	<time xsi:type="FastUTC"/>

	<targets async="true">

		<target xsi:type="File" name="LogErrorToFile"
			fileName="${basedir}/Logs/Error.log"
			keepFileOpen="true">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false"/>
			</layout>
		</target>


		<target xsi:type="File" name="LogTraceToInfoFile"
			fileName="${basedir}/Logs/TraceToInfo.log"
			keepFileOpen="true">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false"/>
			</layout>
		</target>


		<target xsi:type="File" name="LogWarningFile"
			fileName="${basedir}/Logs/Warning.log"
			keepFileOpen="true">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false"/>
			</layout>
		</target>


		<target xsi:type="File" name="LogFatalToFile"
			fileName="${basedir}/Logs/Fatal.log"
			keepFileOpen="true">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false"/>
			</layout>
		</target>


		<target xsi:type="File" name="LogTraceToFile"
			fileName="${basedir}/Logs/Trace.log"
			keepFileOpen="true">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false"/>
			</layout>
		</target>


		<target xsi:type="Console" name="LogToConsole">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false"/>
			</layout>
		</target>

		
		<!--<target xsi:type="Mail"
				name="gmail"
				encoding="Encoding"
				subject="MaxLearnServer Log - Log Level : ${level:uppercase=true}"
				to="asreweb81@gmail.com"
				from="softmaxlogger@gmail.com"
				smtpUserName=""
				smtpPassword=""
				enableSsl="true"
				smtpAuthentication="Basic"
				smtpPort="587"
				smtpServer="smtp.gmail.com">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false"/>
			</layout>
		</target>-->
	</targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<!-- BlackHole without writeTo -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!--<logger name="*" level="Fatal" writeTo="gmail" />-->
		<logger name="*" level="Fatal" writeTo="LogFatalToFile" />
		<logger name="*" level="Error" writeTo="LogErrorToFile" />
		<logger name="*" level="Warn" writeTo="LogWarningFile" />
		<!--<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="LogTraceToInfoFile" />-->
		<logger name="*" level="Trace" writeTo="LogTraceToFile" />
	</rules>
</nlog>
